body {
    background-color: #333;
    color: #fff;
}

section {
    display: flex;
    align-content: center;
    justify-content: center;

}

#header {
    display: flex;
    align-content: center;
    justify-content: center;

}

#contactName {
    margin: 5px;
}

#contactEmail {
    margin: 5px;
}

#contactMessage {
    margin: 5px;
}

#beer-text {
    text-align: center;
    color: #333;
}

.lead {
    text-align: center;
    color: #333;
}

.card {
    margin: 10px;
}

.card-title {
    color: #333;
}

.card-text {
    color: #333;
}